@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
body{
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    background-image: url('../imagens/espaco.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background-color: black;
    min-width: 300px;
    max-width: 1150px;
}

/* HEADER */
.header-container {
    position: relative;
    height: 90vh;
    width: 80%; 
}
/* Imagens do Projeto */


/* Menu HAMBURGUER */

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 90px;
    position: absolute;
    right: -245px;
    top: -10px;
    display: flex;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top: 26px;
    transition: rotate(0);
}

.checkbox .trace:nth-child(2){
    top: 46px;
    transition: rotate(0);
}

.checkbox .trace:nth-child(3){
    top: 66px;
    transition: rotate(0);
}

#toogle {
    display: none;
}

/* MENU */

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px white;
    z-index: -1;
    transition: 400ms ease-in-out 0;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin-top: 10px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2.2em;
    font-family: 'Rubik', sans-serif;
}
.menu-items ul li a:hover {
  color: #3C91E6;
}

/* Animação do MENU */

#toogle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toogle:checked + .checkbox .trace:nth-child(2) {
transform: translate(-100px);
width: 30px;
visibility: hidden;
opacity: 0;
}

#toogle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toogle:checked + .checkbox {
    background-color: rgb(9, 9, 3);
}

#toogle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax rgb(3, 3, 3);
    z-index: 1;
}

#toogle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
}

/* FOOTER */
.footer {
    margin: auto;
    background-color: transparent;
    text-align: center;
    color: #D3D3D3;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
}